<div>
Personal Info
	<div>
	Name : {{fname}}{{lname}}
	</div>
</div>

<div>

Phone numbers
{{#each p_numbers}}
	<div>
	{{this.number}}
	</div>
{{/each}}

</div>

<div>
Locations
{{#each locs}}
	<div>
	{{this.location}}
	</div>
{{/each}}
</div>